* {
  margin: 0;
}

.container {
  width: 375px;
  height: 718px;
  background-color: #ebebff;
}

.main-content {
  width: 375px;
  height: 718px;
  background-color: #fff;
  border-radius: 0 0 0 50px;
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
}

.material-symbols-outlined {
  color: #6070ff;
}

.div1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 20px;
  background-color: #fff;
}

.mylogo {
  width: 76px;
  height: 20px;
  color: #6070ff;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  width: 327px;
  height: 150px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  margin: auto auto;
  color: #172b4d;
  padding-bottom: 30px;
  padding-top: 100px;
  font-weight: 700;
}

p {
  width: 327px;
  height: 146;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: auto auto;
  padding-bottom: 15px;
  color: #344563;
}

.connect {
  width: 117px;
  height: 24px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin: 25px;
  padding-bottom: 5px;
  color: #7f8cff;
}

.media-icons {
  width: 170px;
  height: 20px;
  padding: 1px 1px 3px 1px;
  margin: 25px;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.works {
  display: grid;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  width: 375px;
  height: 2788px;
  top: 718px;
}

.card-works {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot-portfolio {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-works1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-title {
  width: 295px;
  height: 36px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 236px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 55px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.client-text {
  width: 55px;
  height: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  padding-left: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.counter1 {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 1px;
}

.counter2 {
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-bottom: 1px;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 88px;
  height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.back-end {
  height: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-wrap: nowrap;
}

.year-lable {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 29px;
  height: 32px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.year {
  width: 29px;
  height: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.primary-para {
  width: 295px;
  height: 76px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 203px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-left: 1px;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-style: none;
  cursor: pointer;
  text-align: center;
}

.html-b {
  width: 29px;
  height: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-style: none;
  cursor: pointer;
  text-align: center;
}

.css-b {
  width: 21px;
  height: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

.javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-style: none;
  cursor: pointer;
  text-align: center;
}

.javascript-b {
  width: 65px;
  height: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.action {
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-top: 10px;
}

.primary-button {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #396df2;
  border-style: none;
  cursor: pointer;
  border: 1px solid #6070ff;
  border-radius: 8px;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background-color: #fff;
  top: calc(50% - 48px / 2);
}

.primary-button:disabled {
  background: #6070ff;
  color: #e5e5e5;
}

.primary-button:active {
  background-color: #2230d2;
  color: #fff;
}

.primary-button:enabled {
  color: #6070ff;
  background-color: #fff;
}

.primary-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.primary-text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 295px;
  height: 124px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-title1 {
  width: 295px;
  height: 80px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 114px;
  padding-bottom: 114px;
  gap: 24px;
  border-right: 1px;
  border-radius: 50px;
  width: 375px;
  height: 1125.15px;
  left: calc(50% - 375px / 2);
  top: 3506px;
}

.top-heading {
  width: 327px;
  height: 101px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top-para {
  width: 327px;
  height: 144px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 0;
}

.top-link {
  width: 117px;
  height: 24px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.top1 {
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-b {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  background-color: #fff;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-button {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: flex-start;
  background-color: #fff;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-style: none;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 464.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 10px;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 320.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame7 {
  width: 327px;
  height: 72px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frame7 span {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.skill-img1 {
  width: 14px;
  height: 8px;
  margin-top: 10px;
  margin-right: 34px;
}

.javascript1 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.javascript1 p {
  height: 24px;
  left: 76px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-top: 23px;
  margin-left: 4px;
}

.javascript1 img {
  width: 48px;
  height: 48px;
  margin-top: 9px;
  margin-bottom: 9.72px;
  margin-right: 12px;
}

.css1 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  display: flex;
  order: 2;
  flex-grow: 0;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.css1 p {
  height: 24px;
  left: 76px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
  margin-left: 5px;
}

.css1 img {
  width: 48px;
  height: 48px;
  margin-top: 9px;
  margin-bottom: 12px;
  margin-right: 12px;
}

.html1 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.html1 p {
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  margin-top: 21px;
  margin-left: 5px;
}

.html1 img {
  width: 48px;
  height: 48px;
  margin-top: 9px;
  margin-bottom: 9.72px;
  margin-right: 12px;
}

.frame8 {
  width: 327px;
  height: 72px;
  flex: none;
  display: flex;
  order: 1;
  flex-grow: 0;
}

.frame8 li {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding-top: 30px;
}

.sep {
  height: 1px;
  width: 327px;
  order: 1;
}

.sep1 {
  height: 1px;
  width: 327px;
  order: 2;
}

.arr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 26px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  padding-top: 24px;
  padding-left: 90px;
  margin-left: 30px;
}

.frame9 {
  width: 327px;
  height: 72px;
  display: flex;
  flex-direction: row;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame9 li {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #000;
  padding-top: 30px;
}

.arr1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 26px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  padding-top: 24px;
  padding-left: 100px;
  margin-left: 92px;
}
